body{
    background-color:cornflowerblue;
}
div{
    height:200px;
    background-color: rgba(34, 147, 187);
    position:fixed;
    top: 0;
    width:100%;
    left:0;

}
a{
    text-align: right;
    margin-right: 200px;
    font-size: 30px;
    text-decoration: none;
}
h1{
    text-align: center;
}
#home1{
    position:fixed;
    top:250px;
    text-align: center;
}
#home2{
    position:fixed;
    top:300px;
    text-align: center;
}
#home3{
    position:fixed;
    top:350px;
    text-align: center;
}
.id1{
    background-color:bisque;
    position: fixed;
    


}
.id2{
    height: 150px;
    position:fixed;
    top:0;
    width:100%;

}
#class1{
    position:relative;
    top:85px;
    text-align: left;

}
pre{
    margin-top: 90px;
    font-size: 20px;
    text-decoration: none;
}
.id4{
    text-align: left;
    
}
#class2{
    width:100%;
}
#class3{
    width:100%;
    position:absolute;
    top:220px;
    background-color:blanchedalmond;
}
article{
    text-align: center;
    color:black;
}
#project2{
    position:fixed;
    top:420px;
    text-align: center;
    background-color: burlywood;
}
#project3{
position:fixed;
top:600px;
}
#contact{
    background-color: black;
}
li{
    font-size: 20px;
}